{% extends "base.html" %}
{% block title %}
  Новости
{% endblock title %}
{% block content %}
  {% for item in news %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.text|truncate(100) }}</p>
        <a href="{{ url_for('news_detail', id=item.id) }}" class="btn btn-primary">Читать далее</a>
      </div>
      <div class="card-footer">
        Категория: <a href="{{ url_for('news_in_category', id=item.category.id) }}">{{ item.category.title }}</a>
      </div>
    </div>
  {% else %}
    <p class="card-text">Новостей пока нет!</p>
  {% endfor %}
{% endblock content %}